mixin button(options = {})
  -
    const {
      text = "click me",
      theme = "default",
      type = "button",
      isSizeSmall,
      isLong,
      textColor, 
      dataAction = false,
      hidden,
      withArrow,
      isFontBold,
      href,
    } = options;

    const classes = [`button js-button`];
    if ([
      "default", "icon", "light", "round", "textual",
    ].includes(theme)) classes.push(`button_theme_${theme}`);
    if ([
      "text-secondary", "gradient-primary", "bg-primary",
    ].includes(textColor)) classes.push(`button_text-color_${textColor}`);
    if (isSizeSmall) classes.push("button_size_sm");
    if (isFontBold) classes.push("button_font-weight_bold");
    if ([
      "gradient-primary", "gradient-success",
    ].includes(hoverTheme)) classes.push(`button_hover-theme_${hoverTheme}`);
    if (hidden) classes.push("button_hidden");
    if (withArrow) classes.push("button_with-arrow");
    if (isLong) classes.push("button_long");

    const attr = {
      class: classes,
      "data-action": dataAction,
    };

    if (href) attr.href = href;
    else attr.type = type;

  #{href ? "a" : "button"}()&attributes(attr) 
    span.button__text.js-button__text #{text}
    if withArrow
      span.button__arrow arrow_forward
