mixin text(options={})
    -const {
    -   classes = [],
    -   theme = 'body',
    -   fweight = '',
    -   lheight = '',
    -   color = '',
    -   inline = false,
    -   value = '',
    -} = options;
    
    -const classList = [
    -   'text',
    -   `text_theme_${theme}`, 
    -   ...classes
    -];

    -if(fweight !== '') classList.push(`text_fweight_${fweight}`);
    -if(lheight !== '') classList.push(`text_lheight_${lheight}`);
    -if(color !== '') classList.push(`text_color_${color}`);

    -const classListStr = classList.join(' ');
    if inline
        span(class=classListStr) #{value}
    else
        p(class=classListStr) #{value}