extends ../../template/landing.pug

block pageTitle
    title Search page

block content
    main.search-room
        .container-content.container-content_horizontal.search-room__container-content
            +search-filters()
            -const imagesPath = 'site2/images/hotel-rooms'
            +found-rooms({
                classes: 'search-room__found-rooms',
                rooms: [
                    {
                        images: [
                            '888.png','','',''
                        ].map(item => `${imagesPath}/${item}`),
                        roomNumber: 888,
                        luxury: true,
                        price: 9990,
                        stars: 5,
                        comments: 145
                    },
                    {
                        images: [
                            '840.png','','',''
                        ].map(item => `${imagesPath}/${item}`),
                        roomNumber: 840,
                        luxury: false,
                        price: 9000,
                        stars: 4,
                        comments: 65
                    },
                    {
                        images: [
                            '980.png','','',''
                        ].map(item => `${imagesPath}/${item}`),
                        roomNumber: 980,
                        luxury: true,
                        price: 8500,
                        stars: 3,
                        comments: 35
                    },
                    {
                        images: [
                            '856.png','','',''
                        ].map(item => `${imagesPath}/${item}`),
                        roomNumber: 856,
                        luxury: false,
                        price: 7300,
                        stars: 5,
                        comments: 19
                    },
                    {
                        images: [
                            '740.png','','',''
                        ].map(item => `${imagesPath}/${item}`),
                        roomNumber: 740,
                        luxury: false,
                        price: 6000,
                        stars: 4,
                        comments: 44
                    },
                    {
                        images: [
                            '982.png','','',''
                        ].map(item => `${imagesPath}/${item}`),
                        roomNumber: 982,
                        luxury: false,
                        price: 5800,
                        stars: 3,
                        comments: 56
                    },
                    {
                        images: [
                            '678.png','','',''
                        ].map(item => `${imagesPath}/${item}`),
                        roomNumber: 678,
                        luxury: false,
                        price: 5500,
                        stars: 5,
                        comments: 45
                    },
                    {
                        images: [
                            '450.png','','',''
                        ].map(item => `${imagesPath}/${item}`),
                        roomNumber: 450,
                        luxury: false,
                        price: 5300,
                        stars: 4,
                        comments: 39
                    },
                    {
                        images: [
                            '350.png','','',''
                        ].map(item => `${imagesPath}/${item}`),
                        roomNumber: 350,
                        luxury: false,
                        price: 5000,
                        stars: 3,
                        comments: 77
                    },
                    {
                        images: [
                            '666.png','','',''
                        ].map(item => `${imagesPath}/${item}`),
                        roomNumber: 666,
                        luxury: false,
                        price: 5000,
                        stars: 5,
                        comments: 25
                    },
                    {
                        images: [
                            '444.png','','',''
                        ].map(item => `${imagesPath}/${item}`),
                        roomNumber: 444,
                        luxury: false,
                        price: 5000,
                        stars: 3,
                        comments: 15
                    },
                    {
                        images: [
                            '352.png','','',''
                        ].map(item => `${imagesPath}/${item}`),
                        roomNumber: 352,
                        luxury: false,
                        price: 5000,
                        stars: 3,
                        comments: 55
                    }
                ]
            })