mixin button(options={})
    -
        const {
            theme = 'default', 
            size = null,
            hsize = null,
            textColor = null, 
            classes = [],
            text = '',
            disable = false,
            hidden = false,
            icon = null,
            background = null,
            href = '',
        } = options;

        if (theme !== null) classes.push(`button_theme_${theme}`);
        if (disable) classes.push('button_disable');
        if (textColor !== null) classes.push(`button_text-color_${textColor}`);
        if (hidden) classes.push('button_hidden');
        if (background !== null) classes.push(`button_background_${background}`);
        if (size !== null) classes.push(`button_size_${size}`);
        if (hsize !== null) classes.push(`button_hsize_${hsize}`);

    -const classList = classes.join(' ');

    if href !== ''
        a.button(class=classList, href=href) #{text}
            if icon !== null
                .button__icon #{icon}
    else
        .button(class=classList) #{text}
            if icon !== null
                .button__icon #{icon}
