mixin button(options = {})
    -
        const {
            theme = "default", 
            size = "",
            horizontalSize = "",
            textColor = "", 
            classes = [],
            text = "click me",
            disabled = false,
            hidden = false,
            icon = "",
            background = "",
            fontWeight = "",
            hoverTheme = "",
            href = "",
            target = "",
            rel = "",
            type = "button",
        } = options;

        classes.push(`button js-button button_theme_${theme}`);
        if (disabled) classes.push("button_disabled");
        if (textColor !== "") classes.push(`button_text-color_${textColor}`);
        if (hidden) classes.push("button_hidden");
        if (background !== "") classes.push(`button_background_${background}`);
        if (size !== "") classes.push(`button_size_${size}`);
        if (horizontalSize !== "") classes.push(`button_horizontal-size_${horizontalSize}`);
        if (fontWeight !== "") classes.push(`button_font-weight_${fontWeight}`);
        if (hoverTheme !== "") classes.push(`button_hover-theme_${hoverTheme}`);

        const attr = {};
        if (target !== "") attr.target = target;
        if (rel !== "") attr.rel = rel;
        if (href !== "") attr.href = href;

    button(class=classes, type=type)
        p.button__text #{text}
        if icon !== ""
            .button__icon #{icon}
        if href !== ""
            a.button__link&attributes(attr)
