mixin room-head(options = {})
    -
        const {
            roomNumber = 0,
            roomNumberTheme,
            roomNumberHref = "./room-details.html",
            roomPrice = 0,
            pricePeriod = "в сутки",
            luxury = false,
            luxuryText = "люкс",
        } = options;

    .room-head
        a.room-head__room-info(href=roomNumberHref, tabindex="-1")
            span.room-head__number-prefix #{"№ "}
            -const roomNumClasses = (roomNumberTheme === "h2") ? `room-head__room-number_theme_${roomNumberTheme}` : "";
            span.room-head__room-number(class=roomNumClasses) #{roomNumber}
            if luxury
                span.room-head__luxury #{luxuryText}
        p.room-head__price-container
            span.room-head__price #{`${roomPrice}₽`}
            span.room-head__price-period #{pricePeriod}
