mixin room-head(options = {})
    -
        const {
            roomNumber = 0,
            roomNumberTheme = "h1",
            roomNumberHref = "./room-details.html",
            roomPrice = "0",
            pricePeriod = "в сутки",
            luxury = false,
            luxuryText = "люкс",
        } = options;

        const roomPriceRes = `${roomPrice}₽`;

    .room-head
        a.room-head__room-info(href=roomNumberHref, tabindex="-1")
            span.room-head__number-prefix #{"№ "}
            span.room-head__room-number(class=`room-head__room-number_theme_${roomNumberTheme}`) #{roomNumber}
            if luxury
                span.room-head__luxury #{luxuryText}
        p.room-head__price-container
            span.room-head__price #{roomPriceRes}
            span.room-head__during-period #{pricePeriod}
