include /text/text.pug
include /block-head/block-head.pug

mixin range-slider(options = {})
    -
        const {
            step = 1,    
            range = [0, step * 100],
            start = [],
            title = "",
            bottomText = "",
        } = options;

        const [
            rangeMin = 0,
            rangeMax = step * 100,
        ] = range;

        const [
            startMin = rangeMin,
            startMax = rangeMax,
        ] = start;

    .range-slider.js-range-slider(data-range-min=rangeMin, data-range-max=rangeMax, data-step=step,data-start-min=startMin, data-start-max=startMax)
        .range-slider__head
            +text({
                text: title,
                theme: "h3",
                noSelect: true,
            })
            +text({
                theme: "h3",
                color: "text-secondary",
                fontWeight: "normal",
                classes: [
                    "text_assignment_out-range",
                    "js-text_assignment_out-range",
                ],
                noSelect: true,
            })
        .range-slider__line.js-range-slider__line
            .range-slider__point.js-range-slider__point(data-type="min")
            .range-slider__point.js-range-slider__point(data-type="max")
            .range-slider__bg-line.js-range-slider__bg-line
        if bottomText !== ""
            .range-slider__bottom-text
                +text({
                    text: bottomText,
                    size: "small",
                    color: "text-secondary",
                })
