mixin range-slider(params={})
    -const min = params.min || 0;
    -const step = params.step || 1;
    -const max = params.max || (step * 100);
    -const format = params.valueFormat || "{min} - {max}";
    -const value = params.value || format.replace('{min}', min).replace('{max}', max);
    .range-slider(class=params.classes, data-min=min, data-max=max, data-step=step, data-format=format)
        .form-element-title.range-slider__title #{params.title}
        .form-element-help.range-slider__value #{value}
        .range-slider__slider
            .range-slider__line
                .range-slider__point-left
                .range-slider__point-right
            .range-slider__move-container
        if params.bottomText
            .text.text_body.range-slider__bottom-text #{params.bottomText}