mixin text(options = {})
    -
        const {
            classes = [],
            theme = "body",
            fontWeight = "",
            lineHeight = "",
            color = "",
            inline = false,
            text = "",
            whiteSpace = "",
            noSelect = false,
            verticalMiddle = false,
            horizontal = "",
            size = "",
            fontName = "",
            transform = "",
            wordBreak = "",
        } = options;
    
        classes.unshift("text");
        classes.unshift(`text_theme_${theme}`);

        if (fontWeight !== "") classes.push(`text_font-weight_${fontWeight}`);
        if (lineHeight !== "") classes.push(`text_line-height_${lineHeight}`);
        if (color !== "") classes.push(`text_color_${color}`);
        if (whiteSpace !== "") classes.push(`text_white-space_${whiteSpace}`);
        if (noSelect) classes.push("text_no-select");
        if (verticalMiddle) classes.push("text_vertical-middle");
        if (horizontal !== "") classes.push(`text_horizontal_${horizontal}`);
        if (size !== "") classes.push(`text_size_${size}`);
        if (fontName !== "") classes.push(`text_font-name_${fontName}`);
        if (transform !== "") classes.push(`text_transform_${transform}`);
        if (wordBreak !== "") classes.push(`text_word-break_${wordBreak}`);

        const classesStr = classes.join(" ");

    if inline || verticalMiddle
        span(class=classesStr) #{text}
    else
        p(class=classesStr) #{text}
