mixin text(options={})
    -const {
    -   classes = [],
    -   theme = 'body',
    -   fweight = '',
    -   lheight = '',
    -   color = '',
    -   inline = false,
    -   text = '',
    -   uppercase = false,
    -   wspace = '',
    -   noSelect = false,
    -   verticalMiddle = false,
    -   horizontal = '',
    -   fsize = '',
    -   fname = '',
    -} = options;
    
    -const classList = [
    -   'text',
    -   `text_theme_${theme}`, 
    -   ...classes
    -];

    -if (fweight !== '') classList.push(`text_fweight_${fweight}`);
    -if (lheight !== '') classList.push(`text_lheight_${lheight}`);
    -if (color !== '') classList.push(`text_color_${color}`);
    -if (wspace !== '') classList.push(`text_wspace_${wspace}`);
    -if (uppercase) classList.push('text_uppercase');
    -if (noSelect) classList.push('text_no-select');
    -if (verticalMiddle) classList.push('text_vertical-middle');
    -if (horizontal !== '') classList.push(`text_horizontal_${horizontal}`);
    -if (fsize !== '') classList.push(`text_fsize_${fsize}`);
    -if (fname !== '') classList.push(`text_fname_${fname}`);

    -const classListStr = classList.join(' ');
    if inline || verticalMiddle
        span(class=classListStr) #{text}
    else
        p(class=classListStr) #{text}