include ../text/text.pug
include ../button/button.pug

mixin calendar(options={})
    -
        const {
           classes = [],
        } = options;

        const classList = classes.join(' ');

        const currentDate = new Date();

        const {
           date = `${currentDate.getDate()}.${currentDate.getMonth() + 1}.${currentDate.getFullYear()}`,
        } = options;

        const weekdayNames = ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс'];

    .calendar.js-calendar(data-date=date, classes=classList)
        .calendar__date-navigation
            .calendar__btn-change-month.js-calendar__btn-prev-month arrow_back
            .calendar__drawn-date
                +text({
                    theme: 'h2',
                    fname: 'montserrat',
                    classes: [
                        'js-calendar__drawn-date',
                    ],
                })
            .calendar__btn-change-month.js-calendar__btn-next-month arrow_forward
        .calendar__weekday-names
            for name in weekdayNames
                .calendar__weekday-name
                    +text({
                        text: name,
                        color: 'purple',
                        fweight: 'bold',
                        fsize: 'small',
                    })
        .calendar__days-container.js-calendar__days-container
        .calendar__btn-control
            .calendar__btn-clear
                +button({
                    text: 'очистить',
                    theme: 'text',
                    textColor: 'dark-50',
                    classes: [
                        'js-calendar__btn-clear',
                    ],
                })
            .calendar__btn-apply
                +button({
                    text: 'применить',
                    theme: 'text',
                    classes: [
                        'js-calendar__btn-apply',
                    ],
                })
