include ../text/text.pug
include ../button/button.pug

mixin calendar(options = {})
    -
        const {
            renderDate,
            classes = [],
        } = options;

        classes.push("calendar js-calendar");
        const classesStr = classes.join(" ");

        const currentDate = new Date();
        const currentDateStr = `${currentDate.getDate()}.${currentDate.getMonth() + 1}.${currentDate.getFullYear()}`;

        const isCorrectRenderDate = renderDate && (typeof renderDate === "string") && (/\d{1,2}\.\d{1,2}\.\d{4}/.test(renderDate));

        const renderDateStr = isCorrectDate ? date : currentDateStr;

    div(class=classesStr, data-render-date=renderDateStr)
        .calendar__date-navigation
            .calendar__btn-change-month.js-calendar__btn-prev-month arrow_back
            .calendar__drawn-date
                +text({
                    theme: "h2",
                    fontName: "montserrat",
                    classes: [
                        "js-calendar__drawn-date",
                    ],
                })
            .calendar__btn-change-month.js-calendar__btn-next-month arrow_forward
        .calendar__weekday-names
            -const weekdayNames = ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"];

            for name in weekdayNames
                .calendar__weekday-name
                    +text({
                        text: name,
                        color: "primary",
                        fontWeight: "bold",
                        size: "small",
                    })
        .calendar__days-container.js-calendar__days-container
        .calendar__btn-control
            .calendar__btn-clear
                +button({
                    text: "очистить",
                    theme: "text",
                    textColor: "text-secondary",
                    classes: [
                        "js-calendar__btn-clear",
                    ],
                })
            .calendar__btn-apply
                +button({
                    text: "применить",
                    theme: "text",
                    classes: [
                        "js-calendar__btn-apply",
                    ],
                })
