include /block-head/block-head.pug
include /calendar/calendar.pug

mixin date-range(options = {})
  -
    const {
      dropdownEntranceValue = "ДД.ММ.ГГГГ",
      dropdownDepartureValue = "ДД.ММ.ГГГГ",
      dropdownEntranceName = "entrance",
      dropdownDepartureName = "departure",
      dropdownEntranceTitle = "прибытие",
      dropdownDepartureTitle = "выезд",
    } = options;

  .date-range.js-date-range(data-dropdown-default-text=dropdownDefaultText)
    .date-range__dropdowns
      .date-range__dropdown-container
        if dropdownEntranceTitle
          .date-range__head
            +block-head({ title: dropdownEntranceTitle })
        .date-range__dropdown.js-date-range__dropdown(data-type="start")
          input.date-range__input.js-date-range__input(
            value=dropdownEntranceValue
            name=dropdownEntranceName
            readonly
          )
          .date-range__expand-button
            +button({ text: "expand_more", theme: "icon", dateAction: "expand" })
      .date-range__dropdown-container
        if dropdownDepartureTitle
          .date-range__head
            +block-head({ title: dropdownDepartureTitle })
        .date-range__dropdown.js-date-range__dropdown(data-type="end")
          input.date-range__input.js-date-range__input(
            value=dropdownDepartureValue
            name=dropdownDepartureName
            readonly
          )
          .date-range__expand-button
            +button({ text: "expand_more", theme: "icon", dateAction: "expand" })
    .date-range__container
      .date-range__calendar
        +calendar()
