mixin calendar(params={})
    -const date = new Date();
    -const year = date.getFullYear();
    -const monthNumber = date.getMonth();
    -const currentDay = date.getDate();
    -const dateStr = `${year}-${monthNumber}-${currentDay}`;
    -const monthNames = ["Январь","Февраль","Март","Апрель","Май","Июнь","Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь"];
    -const daysWeek = ['Пн','Вт','Ср','Чт','Пт','Сб','Вс'];
    -const renderDate = JSON.stringify({year: year, month: monthNumber});
    .calendar(class=params.classes, date-range-day-start="", data-range-day-end="", data-render-date=renderDate)
        .calendar__head
            .button.button_theme_form-element.calendar__head-btn-arrow arrow_back
            .text.text_h2_m #{monthNames[monthNumber]} #{year}
            .button.button_theme_form-element.calendar__head-btn-arrow arrow_forward

        .calendar__week-days-names
            -for(i = 0; i < 7; i++) {
                .button.button_theme_form-element-text.calendar__weekday-name #{daysWeek[i]}
            -}

        .calendar__body
            -const daysInPreviousMonth = (new Date(year, monthNumber, 0)).getDate();
            -const numberDayOfWeek = ((new Date(year, monthNumber, 1)).getDay() || 7) - 1; // 0 - Monday ... 6 - Sunday
            if numberDayOfWeek > 0
                -for(let i = daysInPreviousMonth - numberDayOfWeek + 1; i <= daysInPreviousMonth; i++){
                    .button.button_theme_form-element-text.calendar__weekday.calendar__weekday_another-month #{i}
                -}

            -const daysInMonth = (new Date(year, monthNumber + 1, 0)).getDate();
            -for(let i = 1; i <= daysInMonth; i++) {
                if i !== currentDay
                    .button.button_theme_form-element-text.calendar__weekday #{i}
                else
                    .button.button_theme_form-element-text.calendar__weekday.calendar__weekday_current-day #{i}
            -}
            
            -const numberDayOfWeekLastDay = ((new Date(year, monthNumber, daysInMonth)).getDay() || 7) - 1; // 0 - Monday ... 6 - Sunday 
            -for(let i = numberDayOfWeekLastDay + 1, d = 1; i <= 6; i++, d++) {
                .button.button_theme_form-element-text.calendar__weekday.calendar__weekday_another-month #{d}
            -}
            
        .calendar__buttons
            .button.button_theme_text-dark.calendar__button-clear очистить
            .button.button_theme_text.calendar__button-enter применить