include /logo/logo.pug
include /menu/menu.pug
include /text-field/text-field.pug
include /social-icons/social-icons.pug

mixin footer()
  -
    const {
      siteDescription,
      navList = [],
      subscribe = {},
      copyright = '',
      socialIcons
    } = require('@components/footer/config.json');

  footer.footer
    .footer__content
      .footer__site-description
        .footer__logo
          +logo()
        p.footer__description #{siteDescription}
      .footer__nav-container
        for nav in navList
          .footer__nav
            p.footer__nav-title #{nav.title}
            .footer__nav-menu
              +menu({ items: nav.items, isVertical: true })
      .footer__subscribe-container
        -
          const {
            title,
            description,
            placeholder,
            formAction = "/mock-address/change-me",
          } = subscribe;

        p.footer__subscribe-title #{title}
        p.footer__subscribe-description #{description}
        form.footer__subscribe-text-field(action=formAction, method="post")
          +text-field({
            placeholder,
            type: "email",
            withArrow: true,
            name: "email",
          })
    .footer__copyright
      .footer__copyright-content
        p.footer__copyright-text #{copyright}
        .footer__social-icons
          +social-icons(socialIcons)
