include /input-button/input-button.pug
include /text-field/text-field.pug
include /button/button.pug

mixin card-account-registration(options = {})
  -
    const {
      title = "Регистрация аккаунта",
      titleTagNumber = 3,
      formAction = "/mock-address/change-me",
      inputNamePlaceholder = "Имя",
      inputSurnamePlaceholder = "Фамилия",
      inputDateOfBirthTitle = "дата рождения",
      inputDateOfBirthPlaceholder = "ДД.ММ.ГГГГ",
      inputsAuthenticationTitle = "данные для входа в сервис",
      inputEmailPlaceholder = "Email",
      inputPasswordPlaceholder = "Пароль",
      toggleButtonSpecialOffers = "Получать спецпредложения",
      paymentButton = "перейти к оплате",
      userHasAccount = "Уже есть аккаунт на Toxin",
      buttonSignIn = "войти",
    } = options;

  .card-account-registration
    #{`h${titleTagNumber}`}.card-account-registration__title #{title}
    form.card-account-registration__form(action=formAction, method="post")
      .card-account-registration__user-name
        +text-field({ placeholder: inputNamePlaceholder, name: "user-name" })
      .card-account-registration__user-surname
        +text-field({ placeholder: inputSurnamePlaceholder, name: "user-surname" })
      .card-account-registration__genders
          .card-account-registration__gender
            +input-button({
              type: "radio",
              text: "Мужчина",
              name: "gender",
              value: "Мужчина",
              checked: true,
            })
          .card-account-registration__gender
            +input-button({
              type: "radio",
              text: "Женщина",
              name: "gender",
              value: "Женщина",
            })
      .card-account-registration__date-of-birth
        +text-field({
          title: inputDateOfBirthTitle,
          titleTagNumber: titleTagNumber < 6 ? titleTagNumber + 1 : 6,
          placeholder: inputDateOfBirthPlaceholder,
          mask: "00.00.0000",
          name: "date-of-birth",
        })
      fieldset.card-account-registration__authentication
        legend.card-account-registration__authentication-title #{inputsAuthenticationTitle}
        .card-account-registration__email
          +text-field({
            titleTagNumber: titleTagNumber < 6 ? titleTagNumber + 1 : 6,
            placeholder: inputEmailPlaceholder,
            type: "email",
            name: "email",
          })
        .card-account-registration__password
          +text-field({ placeholder: inputPasswordPlaceholder, type: "password", name: "password" })
      .card-account-registration__offer
        +input-button({ text: toggleButtonSpecialOffers, name: "special-offers", type: 'toggle' })
      .card-account-registration__payment-button
        +button({
          text: paymentButton,
          isLong: true,
          withArrow: true,
          type: "submit",
        })
    .card-account-registration__account-question
      p.card-account-registration__account-question-text #{userHasAccount}
      .card-account-registration__authentication-button
        +button({
          href: "./sign-in.html",
          text: buttonSignIn,
          theme: "light",
          isLong: true,
        })
