include /text-field/text-field.pug
include /button/button.pug

mixin card-authentication(options = {})
  -
    const {
      title = "Войти",
      titleTagNumber = 3,
      formAction = "/mock-address/change-me",
      inputEmailPlaceholder = "Email",
      inputPasswordPlaceholder = "Пароль",
      authenticationButton = "войти",
      authenticationButtonHref = "/mock-address/change-me",
      noAccount =  "Нет аккаунта на Toxin?",
      createAccountButton = "создать",
    } = options;

  .card-authentication
    #{`h${titleTagNumber}`}.card-authentication__head #{title}
    form.card-authentication__form(action=formAction, method="post")
      .card-authentication__email
        +text-field({ placeholder: inputEmailPlaceholder, type: "email", name: "email" })
      .card-authentication__password
        +text-field({ placeholder: inputPasswordPlaceholder, type: "password", name: "password" })
      .card-authentication__button
        +button({
          text: authenticationButton,
          withArrow: true,
          isLong: true,
          type: "submit",
        })
    .card-authentication__invitation-register
      p.card-authentication__invitation-register-text #{noAccount}
      +button({
        href: createAccountButtonHref,
        text: createAccountButton,
        theme: "light",
      })
