include /block-head/block-head.pug

mixin text-field(options = {})
  -
    const {
      head,
      withArrow,
      mask = false,
      type = "text",
      placeholder = false,
      value = false,
      name = false,
    } = options;

  .text-field(class=(withArrow ? "text-field_with-arrow" : ""))
    if head
      .text-field__head
        +block-head(head)
    .text-field__wrapper
      input.text-field__input.js-text-field__input(
        type=type,
        placeholder=placeholder,
        value=value,
        data-mask=mask,
        name=name
      )
      if withArrow
        .text-field__arrow
          +button({
            text: "arrow_forward",
            theme: "icon",
            type: "submit",
            textColor: "gradient-primary",
          })    
