mixin room-advantages({ items, title, titleTagNumber = 3 })
  .room-advantages
    if title
      #{`h${titleTagNumber}`}.room-advantages__title #{title}
    ul.room-advantages__container
    for item in items
      - const { icon, title, description } = item;
        li.room-advantages__item
          .room-advantages__icon #{icon}
          .room-advantages__text-container
            p.room-advantages__item-title #{title}
            p.room-advantages__item-description #{description}
